{% extends "layout.html" %}
{% block title %}
Login | MySpam
{% endblock %}

{% block heading %}
Login
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="d-flex">
            <button class="btn btn-warning me-2">Login</button>
            <a href= {% url "register" %} class="btn btn-primary">Register New Account</a>
        </div>
    </form>
</div>
{% endblock %}